.footer{
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 55px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  /* background-image: linear-gradient(-225deg, #A8BFFF 0%, #884D80 100%); */
  background-image: linear-gradient(-225deg, #FF3CAC 0%, #562B7C 52%, #2B86C5 100%);
}

span {
    color: whitesmoke;
    font-size: 14px;
    display: block;
    position: absolute;
    bottom: 10px;
    position: absolute;
    width: 90%;
    left: 50%;
    top: 45%;
    bottom: auto;
    right: auto;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
  }
  span a {
    color: hotpink;
    text-decoration: none;
    font-weight: bold;
  }
  .heart {
    color: #E90606;
    margin: 0 3px;
    font-size: 10px;
    animation: pound 0.35s infinite alternate;
    -webkit-animation: pound 0.35s infinite alternate;
  }
  
  @-webkit-keyframes pound {
    to {
      transform: scale(1.1);
    }
  }
  @keyframes pound {
    to {
      transform: scale(1.1);
    }
  }