
body{
  margin: 0;
  padding: 0;
}

.reset-btn{
  top: 15px;
  left: 35px;
  position: absolute;
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  border-radius: 8px;
  padding: 14px 24px;
  border: none;
  transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
  background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%);
  color: #fff;

}

  .mapboxgl-ctrl-geocoder {
    position: absolute;
    top: 5px;
    right: 20px;
    width: 300px;
    z-index: 1;
  }
  
  .mapboxgl-popup-content {
    font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', sans-serif;
    padding: 10px;
    width: 360px;
    text-align:center;
    justify-content: center;
    color:blueviolet;
    background-color: aliceblue;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }

  .mapboxgl-popup-content h2 {
  
    background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
    color: #fff;
    padding: 10px;
    border-radius: 3px 3px 0 0;
    font-weight: 700;
     margin-top: 5px;
  }
  .mapboxgl-popup-content img {
    width: 50px;
  } 
  .mapboxgl-popup-content p {
    color: darkorchid;
  }
 
  .mapboxgl-ctrl-attrib{
    bottom: 28px;
    font-size: smaller;
  }

  /* Media Queries */

  @media (max-width: 767px) {
    .mapboxgl-ctrl-geocoder {
      top: 2px;
      right: 5px;
      min-width: calc(100% - 20px);
      height: 40px;
    }

    .reset-btn{
      top: 12px;
      left: 8px;
      font-size: 16px;
line-height: 8px;
font-weight: 600;
border-radius: 8px;
padding: 14px 24px;
    }
  }
  
  @media only screen and (max-width: 420px){
    .reset-btn{
   
   display: none;
      
    }

    .mapboxgl-popup {
      max-width: 170px !important;
      transform: translate(0px, -50%) translate(217px, 426px);
    }

  }
 
  
  